.table tr td img {
  width: 80px !important;
  height: 80px !important;
  object-fit: contain;
}

td i {
  cursor: pointer;
}

td,
th {
  color: var(--primary-color);
}
.buy__btn {
  justify-content: center;
}
.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  border: none;
  background: #ddd;
  padding: 0.5rem;
  cursor: pointer;
}

.quantity-control button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.quantity-control span {
  margin: 0 0.5rem;
  width: 2rem;
  text-align: center;
}
