.product__details {
  margin-top: 70px;
}

.product__details h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.product__rating span i {
  color: coral;
}

.product__rating p span {
  color: coral;
  font-weight: 500;
}

.product__price {
  font-size: 1.6rem;
  font-weight: 500;
}

.tab__wrapper {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
}

.active__tab {
  font-weight: 700;
}

.tab__content p {
  line-height: 30px;
}

.review__wrapper ul li span {
  color: var(--primary-color);
  font-weight: 600;
}

.review__wrapper ul li p {
  margin-top: 10px;
}

.review__form {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.review__form h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.form__group input,
.form__group textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 20px;
}

.form__group input:focus,
.form__group textarea:focus {
  outline: none;
}

.form__group {
  margin-bottom: 30px;
}

.form__group span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: coral;
  font-weight: 600;
  cursor: pointer;
}

.related__title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .product__details h2 {
    font-size: 1.3rem;
  }
  .rating__group span {
    column-gap: 1rem !important;
  }
}
.ri-star-fill,
.ri-star-half-fill,
.ri-star-line {
  font-size: 1.5rem;
  color: coral;
}
.review__header {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap as needed */
}

.review__header h6 {
  margin-bottom: 0; /* Removes margin from the username */
}

.review__date {
  margin-left: auto; /* Pushes the date to the right */
  font-size: 0.9rem; /* Smaller font for the date */
  color: var(--primary-color);
}
.product__image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.image__navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.img__btn {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.prev__btn {
  position: absolute;
  left: 10px;
}

.next__btn {
  position: absolute;
  right: 10px;
}
.pe-auto,
.active__tab {
  cursor: pointer;
}
